<div class="container">
    <div class="about-me">
        <h1>Tiago Goossen de Andrade</h1>
        <p>
            I am a computer engineering student at
            IFCE and this is an application I started
            to learn more about the Angular Framework.
        </p>
    </div>
    <div class="about-app">
        <h1>SWAPI.dev</h1>
        <p>
            This application uses information provided by
            SWAPI, the Star Wars API.
        </p>
    </div>
    <div class="image-wrapper">
        <img src="../../../assets/images/repair-droid.webp" alt="Repair Droid">
    </div>
</div>