.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image-wrapper {
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

img {
    height: 450px;
}

.text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

button {
    height: 100px;
    width: 300px;
    font-size: 60px;
    color: #666666;
    background-color: #424242;
}