<div class="container">
    <header class="header">
        <button [routerLink]="['']"><img src="../assets/images/starwars.png" alt="Star Wars logo"></button>
        <div class="navbar">
            <ul>
                <li><a class="link__route" [routerLink]="['/movies']" [routerLinkActive]="['active','disabled']">MOVIES</a></li>
                <li><a class="link__route" [routerLink]="['/characters']" [routerLinkActive]="['active','disabled']">CHARACTERS</a></li>
                <li><a class="link__route" [routerLink]="['/planets']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">PLANETS</a></li>
                <li><a class="link__route" [routerLink]="['/about']" [routerLinkActive]="['active','disabled']">ABOUT</a></li>
            </ul>
        </div>
    </header>
    <main class="main" [ngClass]="{'home' : router?.url === '/'}">
        <div class="content" [ngClass]="{'home' : router?.url === '/'}">
            <router-outlet></router-outlet>
        </div>
    </main>
    <footer class="footer">
        <h3>Follow Me</h3>
        <ul>
            <li>
                <a href="https://twitter.com/goossen_de" mat-icon-button aria-label="twitter" target="_blank">
                    <mat-icon svgIcon="twitter"></mat-icon>
                </a>
            </li>
            <li>
                <a href="https://github.com/jga01" mat-icon-button aria-label="github" target="_blank">
                    <mat-icon svgIcon="github"></mat-icon>
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com/tiago_g_andrade/" mat-icon-button aria-label="instagram" target="_blank">
                    <mat-icon svgIcon="instagram"></mat-icon>
                </a>
            </li>
        </ul>
        <h3>TM & &copy; Tiago Goossen. All Rights Reserved.</h3>
    </footer>
</div>