.container {
    width: 100;
    padding: 0;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 9999;
    background: url("../assets/images/stars-header.jpg");
}

.header button {
    cursor: pointer;
    background: transparent;
    border: none;
}

.navbar {
    font-weight: bold;
    width: 100%;
    border: 1px solid #333333;
    background: black;
    display: flex;
    justify-content: center;
}

.navbar ul {
    margin: 0px;
    padding: 0px;
}

.navbar li {
    display: table-cell;
    width: 100px;
    text-align: center;
    border-left: 1px solid #333333;
    border-right: 1px solid #333333;
    list-style: none;
    padding: 10px;

}

.header img{
    width: 250px;
    margin: 20px;
}

.main {
    display: flex;
    justify-content: center;
    background-color: rgba(26, 26, 26, 0.8);
    min-height: 80vh;
    overflow: hidden;
}

.content {
    width: 75%;
    display: flex;
    justify-content: center;
    background-color: #151515;
}

.home {
    background: black;
}

.footer {
    color: #AAAAAA;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20vh;
}

.footer ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer li {
    float: right;
}

.link__route {
    color: #AAAAAA;
    text-decoration: none;
}

li > a.active {
    color: white;
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-color: #EDEC51;
}